.page {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #d9b2f3, #4fa1f1);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.card-box {
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  background-color: #F9FAFC;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.form-signin {
  position: absolute;
  max-width: 360px;
  width: 80%;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto auto;
}

.checkbox {
  text-align: left;
}

.footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 24px;
  color: #d9d9d9;
}

.float-brand {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 24px;
  line-height: 32px;
}

.form-control {
  padding-left: 30px;
  margin-top: -30px;
}

.form-group {
  text-align: left;
  margin-top: 20px;
}

.form-group i {
  margin-left: 10px;
  color: lightgray;
}